.about-us {
  padding: 20px 0px;
  background-color: lavenderblush;
  background-size: cover;
}

.about-title {
  color: #3f51b5;
}

.benefits {
  display: flex;
  justify-content: space-evenly;
  padding: 5px;
  flex-wrap: wrap;
}

.benefits div {
  max-width: 400px;
}

.benefit {
  margin: 5px;
}

@media (min-width: 600px) {
  .benefit {
    margin: 20px;
  }
}