.staffing {
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url('../../images/background-img.png');
  background-size: contain;
}

.main-img {
  opacity: 0.2;
}

.title {
  font-size: 2.2em;
  font-family: sans-serif;
  color: maroon;
}


.find {
  padding: 25px;
  background-image: url('../../images/blue_bg.jpg');
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  color: white;
}

.marketing {
  padding: 25px;
}

.marketing-name {
  font-size: xx-large;
}

@media (min-width: 600px) {
  .find {
    flex-direction: row;
  }

  .marketing {
    max-width: 50%;
  }

}