.staffing {
  min-height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url('https://images.pexels.com/photos/242236/pexels-photo-242236.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
  background-size: cover;
}

.title-img {
  max-width: 40vw;
  display: none;
}

.main-img {
  opacity: 0.2;
}

.page-title {
  font-size: 2.2em;
  font-family: sans-serif;
  color: maroon;
}


.find {
  padding: 25px;
  background-image: url('../../images/blue_bg.jpg');
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  color: white;
}

.marketing {
  padding: 25px;
}

.marketing-name {
  font-size: xx-large;
}

@media (min-width: 600px) {
  .staffing {
    background: none;
  }
  .find {
    flex-direction: row;
  }

  .marketing {
    max-width: 50%;
  }

  .title-img {
    display: initial;
  }

  .marketing-block {
    width: 50%;
  }

}