.registration {
  background: lavenderblush;
  padding: 10px;
}

.register-title {
  color: #3f51b5;
}

.registration-card {
  max-width: 500px;
  margin: auto;
  padding-bottom: 30px;
}

.register-confirm {
  padding: 0px 20px;
}

.register-confirm-brand {
  padding-top: 20px;
  text-align: right;
  font-family: cursive;
  color: maroon;
}

.text-field {
  max-width: 90%;
  padding: 5px;
}

.submit-button {
  margin: 20px;
  font-weight: 800;
  background-color: red;
}

@media (min-height: 600px) {

}