footer {
  background-color: #0174bc;
  padding: 5px;
  color: white;
  text-align: center;
}

.name {
  font-family: monospace;
  font-weight: bold;
  font-size: xx-large;
  padding-bottom: 10px;
}

.email {
  color: white;
}

.contact-option {
  margin: 5px;
}

.phone {
  color: white;
  padding: 5px;
}

a {
  padding: 5px;
  text-decoration: none;
}

.footer-item {
  margin: 25px 0px;
}

.footer-below {
  background-color: slategrey;
  padding: 5px;
  font-size: small;
  text-align: center;
}

@media (min-width: 600px) {
  .footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}
